@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
   --primary-color: #00369a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin: 0 20px;
  background: linear-gradient(to right,#f2c0d8,#f7bd87);
}

a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header{
  text-align: center;
  margin: 1rem auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}


h1 {
  text-align: center;
  padding: 5px 0;
  font-size: 1.7rem;
  color: #343232;

 #label {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin: 0 20px;
   }
